body{
    background-color: black;
    color: rgb(182, 0, 0);
    font-family: Verdana, sans-serif;
}

A{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    background-color: red;
    font-size: 1.2rem;
    transition: 0.6s;
    color: rgb(0, 0, 0);
}

a:visiited{
    color:white;
}
